[tool.poetry]
name = "robustress"
version = "0.220716.1"
description = ""
authors = ["davips <dpsabc@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.8,<3.10"
numpy = "1.22.*"
scipy = "^1.8.1"
sympy = "^1.10.1"
lange = "^0.2101.24"
matplotlib = "^3.5.2"
PyQt5 = "^5.15.7"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-cov = "^3.0.0"
black = "^22.6.0"
pdoc3 = "^0.10.0"
autoreadme = "^0.2102.20"
ipython = "^8.4.0"
scikit-learn = "^1.1.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
